<ion-header style="background-color: red">
  <ion-toolbar class="header" color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <br>
    <ion-title class="ion-text-center">ngFashion</ion-title>
    
    <ion-buttons slot="end">
      <ion-col size="2" class="ion-text-end account-icon" width="100%">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-col>
    </ion-buttons>
    
    <ion-row class="cabecalho">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="0">
          <ion-label class="bold-text">adidas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label class="bold-text">nike</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label class="bold-text">camisetas</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/page1">Guilherme Ferreira</ion-item>
      <ion-item routerLink="/page2">Nicolas Correia</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-content>
  <ion-router-outlet id="main"></ion-router-outlet>
  <!-- adidas -->

 <ion-segment *ngIf="segment == '0'">
  <ion-row class="ion-justify-content-center" >
    <ion-col size="6" *ngFor="let botao of botoes; let ix = index" (click)="goProduto(botao)">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12" class="card">
          <img [src]="pathImgs + botao.imagens" alt="Imagem do botão" width="100%">
          <ion-col size="12">
            <br>
            {{ botao.titulo }} <br><br>
            {{ formataValor(botao.valor) }}
            <br><br>
            <button class="botao">{{ botao.botao }}</button>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-segment>

<!-- nike -->
<ion-segment *ngIf="segment == '1'">
  <ion-row class="ion-justify-content-center"  >
    <ion-col size="6" *ngFor="let nike of nikes; let ix = index" (click)="goProduto(nike)"  >
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12" class="card">
          <img [src]="pathImgs + nike.imagens" alt="Imagem do botão" width="100%">
          <ion-col size="12">
            <br>
            {{ nike.titulo }} <br><br>
            {{ formataValor(nike.valor) }}
            <br><br>
            <button class="botao">{{ nike.botao }}</button>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-segment>

<!-- camiseta -->
<ion-segment *ngIf="segment == '2'">
  <ion-row class="ion-justify-content-center"  >
    <ion-col size="6" *ngFor="let camiseta of camisetas; let ix = index" (click)="goProduto(camiseta)"  >
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12" class="card">
          <img [src]="pathImgs + camiseta.imagens" alt="Imagem do botão" width="100%">
          <ion-col size="12">
            <br>
            {{ camiseta.titulo }} <br><br>
            {{ formataValor(camiseta.valor) }} <br>
            <br>
            <button class="botao">{{ camiseta.botao }}</button>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-segment>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-order">
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
